@using ProyectoFinal_MVC.Models;
@model List<Construccion>
@{
    ViewData["title"] = "Registros de Construcciones";
}
<center>
 <div class="col-sm-6">
  <a class="btn btn-primary" asp-area="" asp-controller="Construccion" asp-action="Crear">Registrar una Nueva Construccion</a>
  </div>
</center>
 <br/>
@if (Model.Count !=0)
{
    <table class="table table-dark">
        <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Lugar de Construccion</th>
              <th scope="col">Tipo</th>
              <th scope="col">Fecha de Inicio</th>
              <th scope="col">Fecha Final</th>
              <th scope="col">ID Empresa Constructora</th>
              <th scope="col">Editar</th>
              <th scope="col">Borrar</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.LugarDeConstruccion</td>
                    <td>@item.Tipo</td>
                    <td>@item.FechaInicio</td>
                    <td>@item.FechaFinal</td>
                    <td>@item.EmpresaConstructoraId</td>
                    <td><a asp-route-id="@item.Id" asp-action="Update"
                        class="btn btn-success btnsm">Editar</a>
                    </td>
                    <td>
                     <input onclick="jsDelete('@item.Id');" type="button" value="Borrar" class="btn btn-danger"/>
                    </td>
                </tr>
            }
        </tbody>       
    </table>
 }
 else
 {
      <div class="card">
        <div class="card-body">
            No hay  Datos de Construcciones Registrados.
        </div>
      </div>
 }
 <script>
    function jsDelete(id) {
       if (confirm("Esta seguro de Borrar los Datos de Esta Construcciòn?")) {
          url = "@Url.Content("~/Construccion/Delete")" + "/" + id;
          $.post(url, function(data) {
            if (data == "1") {
              document.location.href="@Url.Content("~/Construccion/")"
            } else {
              alert("Ocurrio un error")
            }
          })
       }    
    }
 </script>